<table><caption><h1>Table sampling-0.5</h1></caption>
<td align="center">connect2d<br>
<img src="connect2d-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">hnncrust<br>
<img src="hnncrust-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">fitconnect<br>
<img src="fitconnect-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">stretchdenoise<br>
<img src="stretchdenoise-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">crawl<br>
<img src="crawl-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">peel<br>
<img src="peel-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">crust<br>
<img src="crust-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">nncrust<br>
<img src="nncrust-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">ccrust<br>
<img src="ccrust-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">gathan1<br>
<img src="gathan1-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">gathang<br>
<img src="gathang-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">lenz<br>
<img src="lenz-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">discur<br>
<img src="discur-bunny.svg.svg" width=200 height=200><br>
</td>
<td align="center">vicur<br>
<img src="vicur-bunny.svg.svg" width=200 height=200><br>
</td>
</table>
