<table><caption><h1>Table open-curves</h1></caption>
<td align="center">hnncrust<br>
<img src="hnncrust-oc1.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc2.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc3.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc4.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc6.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc7.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc8.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc9.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc10.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc11.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc12.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc13.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc14.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc15.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc16.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc17.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc18.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc19.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc20.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc21.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc22.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc23.txt.svg" width=200 height=200><br>
<img src="hnncrust-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">fitconnect<br>
<img src="fitconnect-oc1.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc2.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc3.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc4.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc6.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc7.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc8.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc9.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc10.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc11.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc12.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc13.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc14.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc15.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc16.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc17.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc18.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc19.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc20.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc21.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc22.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc23.txt.svg" width=200 height=200><br>
<img src="fitconnect-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">discur<br>
<img src="discur-oc1.txt.svg" width=200 height=200><br>
<img src="discur-oc2.txt.svg" width=200 height=200><br>
<img src="discur-oc3.txt.svg" width=200 height=200><br>
<img src="discur-oc4.txt.svg" width=200 height=200><br>
<img src="discur-oc6.txt.svg" width=200 height=200><br>
<img src="discur-oc7.txt.svg" width=200 height=200><br>
<img src="discur-oc8.txt.svg" width=200 height=200><br>
<img src="discur-oc9.txt.svg" width=200 height=200><br>
<img src="discur-oc10.txt.svg" width=200 height=200><br>
<img src="discur-oc11.txt.svg" width=200 height=200><br>
<img src="discur-oc12.txt.svg" width=200 height=200><br>
<img src="discur-oc13.txt.svg" width=200 height=200><br>
<img src="discur-oc14.txt.svg" width=200 height=200><br>
<img src="discur-oc15.txt.svg" width=200 height=200><br>
<img src="discur-oc16.txt.svg" width=200 height=200><br>
<img src="discur-oc17.txt.svg" width=200 height=200><br>
<img src="discur-oc18.txt.svg" width=200 height=200><br>
<img src="discur-oc19.txt.svg" width=200 height=200><br>
<img src="discur-oc20.txt.svg" width=200 height=200><br>
<img src="discur-oc21.txt.svg" width=200 height=200><br>
<img src="discur-oc22.txt.svg" width=200 height=200><br>
<img src="discur-oc23.txt.svg" width=200 height=200><br>
<img src="discur-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">vicur<br>
<img src="vicur-oc1.txt.svg" width=200 height=200><br>
<img src="vicur-oc2.txt.svg" width=200 height=200><br>
<img src="vicur-oc3.txt.svg" width=200 height=200><br>
<img src="vicur-oc4.txt.svg" width=200 height=200><br>
<img src="vicur-oc6.txt.svg" width=200 height=200><br>
<img src="vicur-oc7.txt.svg" width=200 height=200><br>
<img src="vicur-oc8.txt.svg" width=200 height=200><br>
<img src="vicur-oc9.txt.svg" width=200 height=200><br>
<img src="vicur-oc10.txt.svg" width=200 height=200><br>
<img src="vicur-oc11.txt.svg" width=200 height=200><br>
<img src="vicur-oc12.txt.svg" width=200 height=200><br>
<img src="vicur-oc13.txt.svg" width=200 height=200><br>
<img src="vicur-oc14.txt.svg" width=200 height=200><br>
<img src="vicur-oc15.txt.svg" width=200 height=200><br>
<img src="vicur-oc16.txt.svg" width=200 height=200><br>
<img src="vicur-oc17.txt.svg" width=200 height=200><br>
<img src="vicur-oc18.txt.svg" width=200 height=200><br>
<img src="vicur-oc19.txt.svg" width=200 height=200><br>
<img src="vicur-oc20.txt.svg" width=200 height=200><br>
<img src="vicur-oc21.txt.svg" width=200 height=200><br>
<img src="vicur-oc22.txt.svg" width=200 height=200><br>
<img src="vicur-oc23.txt.svg" width=200 height=200><br>
<img src="vicur-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">crawl<br>
<img src="crawl-oc1.txt.svg" width=200 height=200><br>
<img src="crawl-oc2.txt.svg" width=200 height=200><br>
<img src="crawl-oc3.txt.svg" width=200 height=200><br>
<img src="crawl-oc4.txt.svg" width=200 height=200><br>
<img src="crawl-oc6.txt.svg" width=200 height=200><br>
<img src="crawl-oc7.txt.svg" width=200 height=200><br>
<img src="crawl-oc8.txt.svg" width=200 height=200><br>
<img src="crawl-oc9.txt.svg" width=200 height=200><br>
<img src="crawl-oc10.txt.svg" width=200 height=200><br>
<img src="crawl-oc11.txt.svg" width=200 height=200><br>
<img src="crawl-oc12.txt.svg" width=200 height=200><br>
<img src="crawl-oc13.txt.svg" width=200 height=200><br>
<img src="crawl-oc14.txt.svg" width=200 height=200><br>
<img src="crawl-oc15.txt.svg" width=200 height=200><br>
<img src="crawl-oc16.txt.svg" width=200 height=200><br>
<img src="crawl-oc17.txt.svg" width=200 height=200><br>
<img src="crawl-oc18.txt.svg" width=200 height=200><br>
<img src="crawl-oc19.txt.svg" width=200 height=200><br>
<img src="crawl-oc20.txt.svg" width=200 height=200><br>
<img src="crawl-oc21.txt.svg" width=200 height=200><br>
<img src="crawl-oc22.txt.svg" width=200 height=200><br>
<img src="crawl-oc23.txt.svg" width=200 height=200><br>
<img src="crawl-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">peel<br>
<img src="peel-oc1.txt.svg" width=200 height=200><br>
<img src="peel-oc2.txt.svg" width=200 height=200><br>
<img src="peel-oc3.txt.svg" width=200 height=200><br>
<img src="peel-oc4.txt.svg" width=200 height=200><br>
<img src="peel-oc6.txt.svg" width=200 height=200><br>
<img src="peel-oc7.txt.svg" width=200 height=200><br>
<img src="peel-oc8.txt.svg" width=200 height=200><br>
<img src="peel-oc9.txt.svg" width=200 height=200><br>
<img src="peel-oc10.txt.svg" width=200 height=200><br>
<img src="peel-oc11.txt.svg" width=200 height=200><br>
<img src="peel-oc12.txt.svg" width=200 height=200><br>
<img src="peel-oc13.txt.svg" width=200 height=200><br>
<img src="peel-oc14.txt.svg" width=200 height=200><br>
<img src="peel-oc15.txt.svg" width=200 height=200><br>
<img src="peel-oc16.txt.svg" width=200 height=200><br>
<img src="peel-oc17.txt.svg" width=200 height=200><br>
<img src="peel-oc18.txt.svg" width=200 height=200><br>
<img src="peel-oc19.txt.svg" width=200 height=200><br>
<img src="peel-oc20.txt.svg" width=200 height=200><br>
<img src="peel-oc21.txt.svg" width=200 height=200><br>
<img src="peel-oc22.txt.svg" width=200 height=200><br>
<img src="peel-oc23.txt.svg" width=200 height=200><br>
<img src="peel-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">crust<br>
<img src="crust-oc1.txt.svg" width=200 height=200><br>
<img src="crust-oc2.txt.svg" width=200 height=200><br>
<img src="crust-oc3.txt.svg" width=200 height=200><br>
<img src="crust-oc4.txt.svg" width=200 height=200><br>
<img src="crust-oc6.txt.svg" width=200 height=200><br>
<img src="crust-oc7.txt.svg" width=200 height=200><br>
<img src="crust-oc8.txt.svg" width=200 height=200><br>
<img src="crust-oc9.txt.svg" width=200 height=200><br>
<img src="crust-oc10.txt.svg" width=200 height=200><br>
<img src="crust-oc11.txt.svg" width=200 height=200><br>
<img src="crust-oc12.txt.svg" width=200 height=200><br>
<img src="crust-oc13.txt.svg" width=200 height=200><br>
<img src="crust-oc14.txt.svg" width=200 height=200><br>
<img src="crust-oc15.txt.svg" width=200 height=200><br>
<img src="crust-oc16.txt.svg" width=200 height=200><br>
<img src="crust-oc17.txt.svg" width=200 height=200><br>
<img src="crust-oc18.txt.svg" width=200 height=200><br>
<img src="crust-oc19.txt.svg" width=200 height=200><br>
<img src="crust-oc20.txt.svg" width=200 height=200><br>
<img src="crust-oc21.txt.svg" width=200 height=200><br>
<img src="crust-oc22.txt.svg" width=200 height=200><br>
<img src="crust-oc23.txt.svg" width=200 height=200><br>
<img src="crust-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">nncrust<br>
<img src="nncrust-oc1.txt.svg" width=200 height=200><br>
<img src="nncrust-oc2.txt.svg" width=200 height=200><br>
<img src="nncrust-oc3.txt.svg" width=200 height=200><br>
<img src="nncrust-oc4.txt.svg" width=200 height=200><br>
<img src="nncrust-oc6.txt.svg" width=200 height=200><br>
<img src="nncrust-oc7.txt.svg" width=200 height=200><br>
<img src="nncrust-oc8.txt.svg" width=200 height=200><br>
<img src="nncrust-oc9.txt.svg" width=200 height=200><br>
<img src="nncrust-oc10.txt.svg" width=200 height=200><br>
<img src="nncrust-oc11.txt.svg" width=200 height=200><br>
<img src="nncrust-oc12.txt.svg" width=200 height=200><br>
<img src="nncrust-oc13.txt.svg" width=200 height=200><br>
<img src="nncrust-oc14.txt.svg" width=200 height=200><br>
<img src="nncrust-oc15.txt.svg" width=200 height=200><br>
<img src="nncrust-oc16.txt.svg" width=200 height=200><br>
<img src="nncrust-oc17.txt.svg" width=200 height=200><br>
<img src="nncrust-oc18.txt.svg" width=200 height=200><br>
<img src="nncrust-oc19.txt.svg" width=200 height=200><br>
<img src="nncrust-oc20.txt.svg" width=200 height=200><br>
<img src="nncrust-oc21.txt.svg" width=200 height=200><br>
<img src="nncrust-oc22.txt.svg" width=200 height=200><br>
<img src="nncrust-oc23.txt.svg" width=200 height=200><br>
<img src="nncrust-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">ccrust<br>
<img src="ccrust-oc1.txt.svg" width=200 height=200><br>
<img src="ccrust-oc2.txt.svg" width=200 height=200><br>
<img src="ccrust-oc3.txt.svg" width=200 height=200><br>
<img src="ccrust-oc4.txt.svg" width=200 height=200><br>
<img src="ccrust-oc6.txt.svg" width=200 height=200><br>
<img src="ccrust-oc7.txt.svg" width=200 height=200><br>
<img src="ccrust-oc8.txt.svg" width=200 height=200><br>
<img src="ccrust-oc9.txt.svg" width=200 height=200><br>
<img src="ccrust-oc10.txt.svg" width=200 height=200><br>
<img src="ccrust-oc11.txt.svg" width=200 height=200><br>
<img src="ccrust-oc12.txt.svg" width=200 height=200><br>
<img src="ccrust-oc13.txt.svg" width=200 height=200><br>
<img src="ccrust-oc14.txt.svg" width=200 height=200><br>
<img src="ccrust-oc15.txt.svg" width=200 height=200><br>
<img src="ccrust-oc16.txt.svg" width=200 height=200><br>
<img src="ccrust-oc17.txt.svg" width=200 height=200><br>
<img src="ccrust-oc18.txt.svg" width=200 height=200><br>
<img src="ccrust-oc19.txt.svg" width=200 height=200><br>
<img src="ccrust-oc20.txt.svg" width=200 height=200><br>
<img src="ccrust-oc21.txt.svg" width=200 height=200><br>
<img src="ccrust-oc22.txt.svg" width=200 height=200><br>
<img src="ccrust-oc23.txt.svg" width=200 height=200><br>
<img src="ccrust-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">gathan1<br>
<img src="gathan1-oc1.txt.svg" width=200 height=200><br>
<img src="gathan1-oc2.txt.svg" width=200 height=200><br>
<img src="gathan1-oc3.txt.svg" width=200 height=200><br>
<img src="gathan1-oc4.txt.svg" width=200 height=200><br>
<img src="gathan1-oc6.txt.svg" width=200 height=200><br>
<img src="gathan1-oc7.txt.svg" width=200 height=200><br>
<img src="gathan1-oc8.txt.svg" width=200 height=200><br>
<img src="gathan1-oc9.txt.svg" width=200 height=200><br>
<img src="gathan1-oc10.txt.svg" width=200 height=200><br>
<img src="gathan1-oc11.txt.svg" width=200 height=200><br>
<img src="gathan1-oc12.txt.svg" width=200 height=200><br>
<img src="gathan1-oc13.txt.svg" width=200 height=200><br>
<img src="gathan1-oc14.txt.svg" width=200 height=200><br>
<img src="gathan1-oc15.txt.svg" width=200 height=200><br>
<img src="gathan1-oc16.txt.svg" width=200 height=200><br>
<img src="gathan1-oc17.txt.svg" width=200 height=200><br>
<img src="gathan1-oc18.txt.svg" width=200 height=200><br>
<img src="gathan1-oc19.txt.svg" width=200 height=200><br>
<img src="gathan1-oc20.txt.svg" width=200 height=200><br>
<img src="gathan1-oc21.txt.svg" width=200 height=200><br>
<img src="gathan1-oc22.txt.svg" width=200 height=200><br>
<img src="gathan1-oc23.txt.svg" width=200 height=200><br>
<img src="gathan1-oc24.txt.svg" width=200 height=200><br>
</td>
<td align="center">gathang<br>
<img src="gathang-oc1.txt.svg" width=200 height=200><br>
<img src="gathang-oc2.txt.svg" width=200 height=200><br>
<img src="gathang-oc3.txt.svg" width=200 height=200><br>
<img src="gathang-oc4.txt.svg" width=200 height=200><br>
<img src="gathang-oc6.txt.svg" width=200 height=200><br>
<img src="gathang-oc7.txt.svg" width=200 height=200><br>
<img src="gathang-oc8.txt.svg" width=200 height=200><br>
<img src="gathang-oc9.txt.svg" width=200 height=200><br>
<img src="gathang-oc10.txt.svg" width=200 height=200><br>
<img src="gathang-oc11.txt.svg" width=200 height=200><br>
<img src="gathang-oc12.txt.svg" width=200 height=200><br>
<img src="gathang-oc13.txt.svg" width=200 height=200><br>
<img src="gathang-oc14.txt.svg" width=200 height=200><br>
<img src="gathang-oc15.txt.svg" width=200 height=200><br>
<img src="gathang-oc16.txt.svg" width=200 height=200><br>
<img src="gathang-oc17.txt.svg" width=200 height=200><br>
<img src="gathang-oc18.txt.svg" width=200 height=200><br>
<img src="gathang-oc19.txt.svg" width=200 height=200><br>
<img src="gathang-oc20.txt.svg" width=200 height=200><br>
<img src="gathang-oc21.txt.svg" width=200 height=200><br>
<img src="gathang-oc22.txt.svg" width=200 height=200><br>
<img src="gathang-oc23.txt.svg" width=200 height=200><br>
<img src="gathang-oc24.txt.svg" width=200 height=200><br>
</td>
</table>
